// Fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// Body
$body_bg_color: hsl(240, 75%, 98%);
$body_font_size: 16px;
$color_black: hsl(0, 0%, 0);

// NavBar
$nav_link_font_family: 'Open Sans', sans-serif;

// GetStartedContainer
$get_started_font_family: 'Raleway', sans-serif;
$get_started_btn_bg_color: hsl(224, 93%, 58%);
$get_started_btn_bg_color_hover: hsla(224, 93%, 58%, 0.8);

// StayProductiveContainer
$stay_productive_bg_color: hsla(238, 22%, 44%, 0.1);

// DescriptionContainer
$how_fylo_works_color: hsl(170, 45%, 43%);

// EarlyAccessContainer
$early_access_container_bg_color: hsl(238, 22%, 44%);
$early_access_button_bg_color: hsl(224, 93%, 58%);

// Footer
$footer_bg_color: hsl(243, 87%, 12%);